h2 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Roboto Slab';
  margin-bottom: 5px;
  text-transform: uppercase;
}

.damn {
  color: black;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 500;
  padding-right: 30px;
}

.container .title {
  font-size: 30px;
  font-weight: 1000;
  position: relative;
}

.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 500px;
  background: #174578;
}

body {
  font-size: 13px;
  line-height: 1.8;
  color: #fff;
  background-image: url("../images/moroccan-flower-dark.webp");
  background-repeat: repeat;
  background-position: center center;
  font-weight: 400;
  font-family: 'Roboto Slab';
  margin: 0px;
  height: 100vh;
}

img {
  width: 30%;
  margin-bottom: -100px;
}

.theme {
  font-size: 25px;
  font-weight: 700;
  padding-left: 25px;
  color: #222;
  line-height: 1.8;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.container {
  width: 50%;
  background: #f9f9f9;
  height: 100%;
}

.form-container {
  padding: 0px 0px 80px 60px;
}

.container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group input {
  width: calc(100% / 2 - 20px);
  height: 50px;
  width: 45%;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.submit {
  width: 100%;
  background: #174578;
  color: #fff;
  padding: 20px 50px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px #174578;
  margin-right: 50px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    background: #f9f9f9;
    height: 100%;
  }

  .container .title {
    font-size: 30px;
    font-weight: 1000;
    position: relative;
  }

  .container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 500px;
    background: #174578;
  }

  .damn {
    color: black;
    line-height: 1.9;
    margin: 0;
    padding-right: 400px;
    padding-top: 20px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: 500;
    width: 100%;
  }

  body {
    background-image: none;
    background: #f9f9f9;
    height: 100vh;
  }

  .form-group input {
    width: calc(100% / 2 - 20px);
    height: 75px;
    width: 45%;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
}

/* @media screen and (max-width: 768px) {
  .container {
    width: 100%;
    background: #f9f9f9;
    height: 100%;
  }

  body {
    background-image: none;
    background: #f9f9f9;
    height: 100vh;
  }
} */