.background_image {
    /* background-color: #174578; */
    background-image: url('../assets/moroccan-flower-dark.webp');
    width: 100%;
    height: 100%;
}

.button_style {
    float: right;
    height: 60px;
    background: #ce491c;
    border: none;
    color: white;
    /* display: none; */
}

.button_style2 {
    float: left;
    height: 60px;
    background: #ce491c;
    border: none;
    color: white;
}

.bold_head {
    font-size: 80px;
    font-weight: 1000;
}

.about_style {
    font-size: 50px;
    font-weight: 500;
    margin-top: -100px;
    padding-bottom: 50px;
}

.about_background {
    background: #e7eaf1;
}

.yeppy {
    font-weight: 500;
}

.yeppy_na {
    font-size: 25px;
    font-weight: 500;
    margin-top: -35px;
    margin-bottom: 25px;
}

.sub_head {
    font-size: 15px;
    font-weight: 500;
}

.damn {
    width: 100%;
}

.head_nan {
    margin-bottom: 20px;
}

.booboo {
    margin-top: 50px;
}

.second_too {
    height: 5vh;
}

body {
    background: white;
}

#regForm {
    margin-top: 50px;
    margin-bottom: 50px;
}

.high {
    border: none;
    background: white;
    color: blue;
}

.belong {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reflex {
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    text-align: center;
    list-style: none;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 65px;
    font-weight: 500;
}

.uuu {
    margin-top: 50px;
    margin-bottom: 65px;
    font-size: 25px;
    font-weight: 500;
}

.fff {
    margin-top: 75px;
    margin-bottom: 75px;
}
.ppp {
    height: 35vh;
}

.lll {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}

.nav-item {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    margin-top: -5px;
    margin-bottom: -5px;
}

.uuu {
    background: white;
}

.eee {
    font-size: 20px;
}

#contact_us {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#about {
    padding-bottom: 1rem;
}